# A test environment.
#
# You can invoke this using `docker compose run test`.

version: "3.3"
services:
  cache:
    image: redis
    ports:
      - "6379"
  test:
    image: node:lts
    depends_on:
      - cache
    environment:
      DATABASE_URL: postgres://postgres@db:5432/postgres
      LOCK_URL: redis://cache:6379/1
      CACHE_URL: redis://cache:6379/2
    working_dir: /src
    volumes:
      - .:/src
    command: "npm run test-helper"
